body {
    font-family: Josefin Sans;
    font-weight: 400;
}

.bb-font-h1,
.bb-font-h2,
.bb-font-h3,
.bb-font-h4 {
    font-family: Josefin Sans;
    font-weight: 700;
}

.bb-font-h5,
.bb-font-h6 {
    font-family: Josefin Sans;
    font-weight: 400;
}

.btn {
    border-radius: 30px;
}

.bb-color-0 .bb-overlay {
    background-color: #FFF;
}

.bb-color-0 .bb-font-h1,
.bb-color-0 .bb-font-h2,
.bb-color-0 .bb-font-h3 {
    color: #000;
}

.bb-color-0 .btn-primary,
.bb-color-0 .btn-primary:active {
    background-color: #000000;
    color: #FFF;
    border-color: #000000;
}

.bb-color-0 .btn-secondary {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
}

.bb-color-0 .btn-secondary:hover {
    background-color: #000000;
    color: #FFF;
    border-color: #000000;
}

.bb-color-0 .bb-color-primary {
    color: #000000 !important;
    fill: #000000 !important;
}

.bb-color-1 .bb-overlay {
    background-color: #000;
}

.bb-color-1 .bb-font-h1,
.bb-color-1 .bb-font-h2,
.bb-color-1 .bb-font-h3 {
    color: #A6A6A6;
}

.bb-color-1 .btn-primary,
.bb-color-1 .btn-primary:active {
    background-color: #A6A6A6;
    color: #000;
    border-color: #A6A6A6;
}

.bb-color-1 .btn-secondary {
    background-color: transparent;
    color: #A6A6A6;
    border-color: #A6A6A6;
}

.bb-color-1 .btn-secondary:hover {
    background-color: #A6A6A6;
    color: #000;
    border-color: #A6A6A6;
}

.bb-color-1 .bb-color-primary {
    color: #A6A6A6 !important;
    fill: #A6A6A6 !important;
}

.bb-color-2,
.bb-color-2 .bb-box,
.bb-color-2 .bb-overlay {
    background-color: #000000;
    color: #FFF;
    fill: #FFF;
    --section-text-color: #FFF;
    --section-background-color: #000000;
}

.bb-color-2 .bb-border-color {
    border-color: #FFF;
}

.bb-color-2 .bb-font-h1,
.bb-color-2 .bb-font-h2,
.bb-color-2 .bb-font-h3 {
    color: #FFF;
}

.bb-color-2 .btn-primary,
.bb-color-2 .btn-primary:active {
    background-color: #FFF;
    color: #000000;
    border-color: #FFF;
}

.bb-color-2 .btn-secondary {
    background-color: transparent;
    color: #FFF;
    border-color: #FFF;
}

.bb-color-2 .btn-secondary:hover {
    background-color: #FFF;
    color: #000000;
    border-color: #FFF;
}

.bb-color-2 .bb-color-primary {
    color: #FFF !important;
    fill: #FFF !important;
}

.bb-color-3,
.bb-color-3 .bb-box,
.bb-color-3 .bb-overlay {
    background-color: #5495e5;
    color: #FFF;
    fill: #FFF;
    --section-text-color: #FFF;
    --section-background-color: #5495e5;
}

.bb-color-3 .bb-border-color {
    border-color: #FFF;
}

.bb-color-3 .bb-font-h1,
.bb-color-3 .bb-font-h2,
.bb-color-3 .bb-font-h3 {
    color: #FFF;
}

.bb-color-3 .btn-primary,
.bb-color-3 .btn-primary:active {
    background-color: #FFF;
    color: #5495e5;
    border-color: #FFF;
}

.bb-color-3 .btn-secondary {
    background-color: transparent;
    color: #FFF;
    border-color: #FFF;
}

.bb-color-3 .btn-secondary:hover {
    background-color: #FFF;
    color: #5495e5;
    border-color: #FFF;
}

.bb-color-3 .bb-color-primary {
    color: #FFF !important;
    fill: #FFF !important;
}

.bb-color-4,
.bb-color-4 .bb-box,
.bb-color-4 .bb-overlay {
    background-color: #bebcb9;
    color: #000;
    fill: #000;
    --section-text-color: #000;
    --section-background-color: #bebcb9;
}

.bb-color-4 .bb-border-color {
    border-color: #000;
}

.bb-color-4 .bb-font-h1,
.bb-color-4 .bb-font-h2,
.bb-color-4 .bb-font-h3 {
    color: #000000;
}

.bb-color-4 .btn-primary,
.bb-color-4 .btn-primary:active {
    background-color: #000000;
    color: #bebcb9;
    border-color: #000000;
}

.bb-color-4 .btn-secondary {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
}

.bb-color-4 .btn-secondary:hover {
    background-color: #000000;
    color: #bebcb9;
    border-color: #000000;
}

.bb-color-4 .bb-color-primary {
    color: #000000 !important;
    fill: #000000 !important;
}

.bb-color--1 .btn-primary,
.bb-color--1 .btn-primary:active {
    background-color: var(--button-color);
    color: var(--background-color);
    border-color: var(--button-color);
}

.bb-color--1 .btn-secondary {
    background-color: transparent;
    color: var(--button-color);
    border-color: var(--button-color);
}

.bb-color--1 .btn-secondary:hover {
    background-color: var(--button-color);
    color: var(--background-color);
    border-color: var(--button-color);
}

.social-links svg {
    content-visibility: auto;
    contain-intrinsic-size: 16px;
}

#bb-header {
    position: sticky;
    z-index: 100;
    top: 0;
}

#bb-header.scrolled {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

#bb-header-spacing {
    transition: padding 0.4s ease;
}

#bb-header.scrolled #bb-header-spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 2em;
}

* {
    scroll-margin-top: 90px;
}

.bb-bottom-banner {
    border-top: 3px solid #f37735;
    border-bottom: 3px solid #f37735;
}

.bb-bottom-banner .text2 {
    color: #f37735;
    border: 1px solid #f37735;
    fill: #f37735;
}

.bb-bottom-banner:hover .text2 {
    background-color: #f37735;
}

.bb-side-banner .link1 {
    border-color: #f37735;
}
