.bb-header-padding {
    padding: 16px
}

@media(min-width: 768px) {
    .bb-header-padding {
        padding: 16px 24px
    }
}

.bb-header-padding.bb-header-padding-0 {
    padding-top: 0;
    padding-bottom: 0
}

.bb-header-padding.bb-header-padding-1 {
    padding-top: 8px;
    padding-bottom: 8px
}

.bb-header-padding.bb-header-padding-3 {
    padding-top: 24px;
    padding-bottom: 24px
}