body:not(.full-height) {
    padding-top: 90px
}

body:not(.full-height) #bb-header.fixed {
    top: 90px
}

@media(min-width: 768px) {
    body:not(.full-height) {
        padding-top: 50px
    }
    body:not(.full-height) #bb-header.fixed {
        top: 50px
    }
}

.bb-side-banner,
.bb-bottom-banner {
    position: fixed;
    z-index: 99;
    box-sizing: border-box;
    text-decoration: none !important;
    font-size: 15px;
    line-height: 19px;
    font-weight: 600;
    color: #222;
    font-weight: 400
}

.bb-side-banner a,
.bb-bottom-banner a {
    text-decoration: none !important
}

@-webkit-keyframes loadBottomBanner {
    0% {
        bottom: -100px
    }
    60% {
        bottom: -100px
    }
    100% {
        bottom: 0px
    }
}

@keyframes loadBottomBanner {
    0% {
        bottom: -100px
    }
    60% {
        bottom: -100px
    }
    100% {
        bottom: 0px
    }
}

.bb-bottom-banner {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    height: 90px;
    flex-direction: column;
    text-align: center
}

.bb-bottom-banner:hover {
    background-color: #f0f0f0
}

.bb-bottom-banner:hover .text2 {
    color: #fff;
    fill: #fff
}

@media(min-width: 768px) {
    .bb-bottom-banner {
        flex-direction: row;
        height: 50px
    }
}

.bb-bottom-banner .domain {
    font-family: neue-kabel, sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    align-items: center
}

.bb-bottom-banner .domain .dot {
    font-size: 30px;
    line-height: 0px;
    color: #f65a1d;
    padding-bottom: 15px
}

.bb-bottom-banner .text {
    margin: 0 8px
}

.bb-bottom-banner .text2 {
    text-align: left;
    line-height: 21px;
    letter-spacing: .26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin-left: 15px;
    border-radius: 10px;
    padding: 5px 10px
}

.bb-bottom-banner .text2 svg {
    fill: inherit;
    margin-left: 5px;
    font-size: inherit;
    font-weight: inherit;
    margin-right: -2px
}

.bb-bottom-banner .text2 svg.arrow1 {
    -webkit-animation: arrow1Flicker 1750ms infinite !important;
    animation: arrow1Flicker 1750ms infinite !important
}

.bb-bottom-banner .text2 svg.arrow2 {
    -webkit-animation: arrow2Flicker 1750ms infinite !important;
    animation: arrow2Flicker 1750ms infinite !important
}

.bb-bottom-banner .text2 svg.arrow3 {
    -webkit-animation: arrow3Flicker 1750ms infinite !important;
    animation: arrow3Flicker 1750ms infinite !important
}

@-webkit-keyframes arrow1Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes arrow1Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow2Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes arrow2Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow3Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes arrow3Flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.bb-side-banner {
    visibility: hidden;
    top: 25%;
    -webkit-animation: loadSideBanner 5s ease-in-out;
    animation: loadSideBanner 5s ease-in-out;
    transition: right .5s ease-in-out;
    right: -233px;
    z-index: 100;
    text-align: center
}

@media(min-width: 768px) {
    .bb-side-banner {
        visibility: visible
    }
}

.bb-side-banner:hover {
    right: 0
}

.bb-side-banner .link1 {
    width: 295px;
    height: 91px;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px 0 0 8px;
    border: 3px solid #263c57;
    border-right: none
}

.bb-side-banner .link1 .text1 {
    display: flex;
    width: 60px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center
}

.bb-side-banner .link1 .text1 .logo {
    background: url(/img/logo.svg) 0 0 no-repeat;
    width: 24px;
    height: 23px;
    text-indent: -9999px;
    margin: 0 0 8px 0
}

.bb-side-banner .link1 .separator {
    width: 1px;
    height: 68px;
    background: #263c57;
    opacity: .21
}

.bb-side-banner .link1 .text2 {
    padding-top: 40px;
    flex: 1
}

.bb-side-banner .link1 .text2 p {
    color: #007aff;
    font-weight: 800;
    border-bottom: 1px dotted #007aff;
    display: inline-block
}

.bb-side-banner .link1 .text2 p:hover {
    border-bottom-style: solid
}

.bb-side-banner .link2 {
    position: absolute;
    top: 13px;
    left: 80px;
    width: 195px
}

@-webkit-keyframes loadSideBanner {
    0% {
        right: -295px
    }
    20% {
        right: -295px
    }
    30% {
        right: 0
    }
    90% {
        right: 0
    }
    100% {
        right: -233px
    }
}

@keyframes loadSideBanner {
    0% {
        right: -295px
    }
    20% {
        right: -295px
    }
    30% {
        right: 0
    }
    90% {
        right: 0
    }
    100% {
        right: -233px
    }
}

@media(max-width: 1400px) {
    #bb-cookie-banner {
        bottom: 60px
    }
}

@media(max-width: 700px) {
    #bb-cookie-banner {
        bottom: 95px
    }
}